# Ignores the main configuration file.
/.env

# Ignores the pgadmin private key
pgadmin/private_key

# Ignores the docker compose local or production environment.
docker-compose.override.yml

# Ignores any __pycache__ folder.
__pycache__

# task
task.md

# Ignores the downloaded files.
download/
backup/
enterprise/
oca/
odoo/third-party-addons/
odoo/extra-addons/
odoo/addons
odoo/odoo-src